@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

//---------- header scss start ----------//
.headerWrapper {
    background-color: #f3f1eb;
    border-bottom: 2px solid #dedcd6;
    position: fixed;
    width: 100%;
    z-index: 9;
    top: 0;
    .navbar {
        padding: 6px 100px 6px 80px;
        @media (max-width: 1440px) {
            padding: 10px 40px 10px 20px;
        }
        @media (max-width: 992px) {
            padding: 0 0 0 10px;
            position: relative;
        }
        @media (max-width: 576px) {
            padding: 10px 20px 10px 10px;
        }
        @media (max-width: 576px) {
            padding: 0;
        }
        .container-fluid {
            @media (max-width: 1440px) {
                padding: 0;
            }
        }
        @media (max-width: 992px) {
            &::after {
                content: "";
                position: absolute;
                background-color: #dddbd5;
                width: 2px;
                height: 75px;
                left: 57%;
                transform: translateX(-50%);
                @media (max-width: 425px) {
                    height: 60px;
                }
            }
        }
    }
    .navbar-collapse {
        justify-content: end;
        @media (max-width: 992px) {
            position: initial !important;
            background-color: transparent;
            min-height: 100%;
            flex-grow: initial;
            flex-basis: initial;
            width: initial;
            padding: 0;
        }
    }
    .collapse:not(.show) {
        display: flex;
    }
    .boxWrapper {
        display: none;
    }
    .navbar-brand {
        background-color: transparent;
        display: flex;
        align-items: center;
        padding: 10px 16px 10px 10px;
        margin-left: 40px;
        margin-right: 0 !important;
        @media (max-width: 1440px) {
            padding: 8px 12px 8px 8px;
            font-size: 16px;
        }
        @media (max-width: 992px) {
            order: 2;
            padding: 23px 12px 24px 8px;
            margin-left: 0;
        }
        @media (max-width: 425px) {
            font-size: 13px;
            padding: 18px 12px 18px 8px;
        }
        &:focus {
            box-shadow: none;
        }
        a {
            text-decoration: none;
            color: #e4242f;
            font-weight: bold;
            font-size: 16px;
            @media (max-width: 425px) {
                font-size: 14px;
            }
        }
        svg {
            font-size: 24px;
            color: #4a4a4a;
            transform: rotate(90deg);
            margin-right: 10px;
            @media (max-width: 425px) {
                font-size: 20px;
                margin-right: 3px;
            }
        }

        img {
            width: 100%;
        }
    }
    .navbar-toggler {
        padding: 0;
    }
    .leftSide {
        align-items: center;
        .headerLogo {
            position: relative;
            margin: auto;
            img {
                max-width: 324px;
                @media (max-width: 1200px) {
                    max-width: 300px;
                }
                @media (max-width: 1100px) {
                    max-width: 280px;
                }
                @media (max-width: 992px) {
                    padding: 8px 0px;
                }
                @media (max-width: 576px) {
                    max-width: 220px;
                }
                @media (max-width: 425px) {
                    max-width: 200px;
                }
                @media (max-width: 375px) {
                    max-width: 180px;
                }
            }
            &::after {
                position: absolute;
                content: "";
                background-color: #dedcd6;
                width: 1px;
                height: 103px;
                right: 530px;
                top: -20px;
                @media (max-width: 1600px) {
                    right: 470px;
                }
                @media (max-width: 1299px) {
                    right: 400px;
                }
                @media (max-width: 1200px) {
                    right: 350px;
                    height: 100px;
                }
                @media (max-width: 1100px) {
                    right: 330px;
                }
                @media (max-width: 992px) {
                    display: none;
                }
            }
            &::before {
                position: absolute;
                content: "";
                background-color: #dedcd6;
                width: 1px;
                height: 103px;
                left: 550px;
                top: -20px;
                @media (max-width: 1600px) {
                    left: 470px;
                }
                @media (max-width: 1299px) {
                    left: 430px;
                }
                @media (max-width: 1200px) {
                    left: 380px;
                    height: 100px;
                }
                @media (max-width: 1100px) {
                    left: 330px;
                }
                @media (max-width: 992px) {
                    display: none;
                }
            }
        }
        a {
            font-size: 16px;
            color: #767676;
            font-family: "Lato";
            @media (max-width: 1440px) {
                margin-left: 20px;
            }
            @media (max-width: 992px) {
                display: none;
            }
            span {
                margin-right: 10px;
                @media (max-width: 1024px) {
                    font-size: 14px;
                }
            }
        }
    }
}
.new-mobile-header {
    background-color: #fff;
    .navbar {
        @media (max-width: 992px) {
            padding: 0 20px 0 10px;
            padding-right: 0;
        }
        @media (max-width: 768px) {
            padding-right: 0;
            padding-left: 10px;
        }
        @media (max-width: 425px) {
            padding-left: 0;
        }
    }
    .leftSide {
        a {
            display: none;
        }
        .headerLogo {
            margin: inherit;
            &::after {
                display: none;
            }
            &::before {
                display: none;
            }
        }
    }
    a {
        order: 2;
        text-decoration: none;
        .boxWrapper {
            display: block;
            width: 342px;
            padding: 10px 0px 10px 0px;
            background-color: #e71d24;
            color: #fff;
            border: none;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 7px;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            margin-top: 5px;

            @media (max-width: 992px) {
                position: fixed;
                bottom: 0;
                width: 100%;
                border-radius: 0;
                left: 0;
            }
        }
    }
    .container-fluid {
        padding-right: 0;
        .navbar-brand {
            display: none;
            @media (max-width: 992px) {
                display: block;
            }
        }
    }
    .navbar-brand {
        @media (max-width: 992px) {
            width: auto;
        }
    }
}
//---------- header scss end ----------//

//---------- footer scss start ----------//
.footerWrap {
    .new-footer {
        background-color: #f2f2f2;
        padding-top: 68px;
        padding-bottom: 62px;
        padding-left: 100px;
        padding-right: 90px;
        margin-bottom: 0;
        @media (max-width: 1440px) {
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 58px;
        }
        @media (max-width: 1024px) {
            padding-top: 40px;
            padding-bottom: 50px;
        }
        @media (max-width: 992px) {
            padding-bottom: 60px !important;
        }
        @media (max-width: 576px) {
            padding: 40px 20px;
        }
        @media (max-width: 425px) {
            padding: 28px 20px;
        }
        .new-container-footer {
            margin: 0;
        }
        .new-foot-bottom {
            @media (max-width: 768px) {
                flex-direction: column;
            }
            p {
                margin: 0;
                font-family: "Lato";
                font-size: 20px;
                color: #4e5f8c;
            }
        }

        .new-footer-logo {
            max-width: 404px;
            margin-left: -18px;
            width: 100%;
            @media (max-width: 1440px) {
                max-width: 330px;
            }
            @media (max-width: 1024px) {
                max-width: 270px;
            }
            @media (max-width: 576px) {
                max-width: 240px;
            }
            @media (max-width: 425px) {
                max-width: 201px;
            }
        }
        .new-foot-para {
            font-family: "Lato";
            font-size: 20px;
            color: #4e5f8c;
            margin-top: 80px;
            margin-bottom: 90px;
            padding-right: 50px;
            @media (max-width: 1440px) {
                font-size: 18px;
                margin-top: 50px;
                margin-bottom: 80px;
                padding-right: 40px;
            }
            @media (max-width: 1024px) {
                font-size: 16px;
                padding-right: 30px;
                margin-top: 30px;
                margin-bottom: 60px;
            }
            @media (max-width: 768px) {
                padding-right: 0;
            }
            @media (max-width: 425px) {
                margin-bottom: 20px;
            }
        }
        .new-foot-bottom {
            .new-foot-icons {
                width: 320px;
                @media (max-width: 1024px) {
                    width: 280px;
                }
                @media (max-width: 425px) {
                    width: 240px;
                }
                .foot-icon {
                    border: 2px solid #4e5f8c;
                    width: 44px;
                    height: 44px;
                    line-height: 38px;
                    align-items: unset;
                    @media (max-width: 1024px) {
                        width: 40px;
                        height: 40px;
                        line-height: 34px;
                    }
                    @media (max-width: 425px) {
                        width: 36px;
                        height: 36px;
                        line-height: 30px;
                    }
                    a {
                        svg {
                            color: #142b67;
                            @media (max-width: 425px) {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            .new-copyright {
                font-size: 18px;
                @media (max-width: 1200px) {
                    font-size: 17px;
                }
                @media (max-width: 1024px) {
                    font-size: 16px;
                }
                @media (max-width: 768px) {
                    order: 2;
                    margin-top: 50px;
                }
                @media (max-width: 425px) {
                    font-size: 12px;
                    margin-top: 30px;
                }
            }
        }
    }
}
//---------- footer scss end ----------//

//---------- Booking scss start ----------//

.checkbox:checked + .toggle {
    background-color: hsl(355deg 100% 42%);
}
.form-para {
    @media (max-width: 460px) {
        text-align: center;
    }
}
.bookmainSection {
    .bookWrap {
        background: url("../../../public/images/banner-campaign.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-between;
        padding: 100px 0 180px 100px;
        position: relative;
        @media (max-width: 1440px) {
            padding: 100px 0 160px 40px;
        }
        @media (max-width: 1200px) {
            padding: 80px 0 140px 40px;
        }
        @media (max-width: 992px) {
            padding: 40px 0 50px 40px;
        }
        @media (max-width: 768px) {
            display: block;
            padding: 30px 0 50px 40px;
        }

        &::after {
            content: "1266344083";
            position: absolute;
            background-color: #786e64;
            opacity: 0.5;
            color: #fff;
            font-size: 12px;
            padding-left: 20px;
            padding-right: 8px;
            bottom: 20px;
            left: 0;
            @media (max-width: 768px) {
                display: none;
            }
        }
        .bookmark-para {
            h1 {
                color: #fff;
                font-size: 62px;
                font-family: "Lato";
                font-weight: bold;
                max-width: 618px;
                margin-bottom: 25px;
                font-size: 56px;
                @media (max-width: 1440px) {
                    font-size: 56px;
                    max-width: 598px;
                }
                @media (max-width: 1200px) {
                    font-size: 50px;
                    max-width: 498px;
                }
                @media (max-width: 1024px) {
                    font-size: 46px;
                    max-width: 488px;
                }
                @media (max-width: 992px) {
                    font-size: 40px;
                    max-width: 288px;
                }
            }
            img {
                width: 160px;
                @media (max-width: 1024px) {
                    width: 140px;
                }
            }
        }
        .new-form {
            border-radius: 12px;
            padding: 0;
            width: 488px;
            background-color: #f3f3f3;
            margin-left: auto;
            margin-right: 165px;
            @media (max-width: 1440px) {
                margin-right: 80px;
                width: 458px;
            }
            @media (max-width: 1200px) {
                width: 400px;
            }
            @media (max-width: 1024px) {
                width: 360px;
            }
            @media (max-width: 992px) {
                margin-right: 40px;
            }
            @media (max-width: 992px) {
                justify-content: initial;
                min-height: 278px;
            }
            .form-head {
                text-align: center;
                color: #1b316c;
                font-family: "Lato";
                border-bottom: 2px solid #b1b1b1;
                padding: 22px;
                font-size: 17px;
                @media (max-width: 1440px) {
                    padding: 18px;
                    font-size: 17px;
                }
                @media (max-width: 1024px) {
                    margin-bottom: 0;
                }
                @media (max-width: 992px) {
                    padding: 14px;
                    font-size: 16px;
                }
            }
            .form-renovate {
                padding: 0 40px;
                padding-bottom: 25px;
                @media (max-width: 1200px) {
                    padding: 0 26px;
                    padding-bottom: 20px;
                }
                @media (max-width: 992px) {
                    padding: 0 18px;
                    padding-bottom: 0px;
                }
            }
            .form-group {
                margin-bottom: 24px;
                @media (max-width: 992px) {
                    margin-bottom: 18px;
                }
            }
            .form-red-btn {
                padding: 14px;
                font-size: 14px;
                @media (max-width: 1200px) {
                    padding: 12px;
                }
                @media (max-width: 1024px) {
                    font-size: 12px;
                }
                @media (max-width: 992px) {
                    padding: 12px;
                }
            }
            .icon-flag {
                background-size: 30px;
                background-position: 20px;
            }
            input#phone {
                margin-left: 50px !important;
                &::placeholder {
                    color: #1b316c;
                    opacity: 1;
                    font-family: "Lato";
                    @media (max-width: 1200px) {
                        font-size: 14px;
                    }
                }
            }
            .form-group {
                fieldset {
                    border: 0 !important;
                }
            }
            .form-para {
                color: #1b316c;
                font-size: 16px;
                font-family: "Lato";
                margin-top: 14px;
                @media (max-width: 1200px) {
                    font-size: 14px;
                }

                a {
                    color: #1b316c;
                }
            }
            .errorMessage {
                margin-bottom: 12px;
            }
            .new-form-2 {
                justify-content: flex-start;

                .toggle {
                    width: 36px;
                    height: 20px;
                    &::after {
                        width: 16px;
                        height: 16px;
                        top: 2px;
                    }
                    .checkbox:checked + .toggle::after {
                        left: 18px;
                    }
                }
                .form-check-label {
                    margin-left: 12px;
                    font-size: 16px;
                    color: #1b316c;
                    @media (max-width: 1200px) {
                        font-size: 14px;
                    }
                }
                svg {
                    font-size: 16px;
                    color: #1b306a;
                    margin-left: 7px;
                }
            }
        }
        .bookgetty {
            background-color: #786e64;
            opacity: 0.6;
            padding: 8px 14px;
            margin-top: 30px;
            @media (max-width: 992px) {
                margin-top: 20px;
            }
            h1 {
                color: #fff;
                font-weight: bold;
                font-size: 36px;
                margin: 0;
                @media (max-width: 1200px) {
                    font-size: 32px;
                }
                @media (max-width: 992px) {
                    font-size: 26px;
                }
                span {
                    font-weight: 300;
                }
            }
            p {
                color: #fff;
                font-size: 20px;
                margin: 0;
                @media (max-width: 1200px) {
                    font-size: 18px;
                }
                @media (max-width: 992px) {
                    font-size: 16px;
                }
            }
        }
    }
}
//---------- Booking scss end ----------//
//---------- newlook scss start ----------//
.newlookwrap {
    background-color: #f3f7fa;
    position: relative;
    z-index: -1;
    .newlook {
        position: absolute;
        top: 77px;
        z-index: -1;
        @media (max-width: 1440px) {
            max-width: 768px;
            top: 79px;
        }
        @media (max-width: 992px) {
            max-width: 622px;
        }
        @media (max-width: 768px) {
            max-width: 568px;
            bottom: 0;
            top: inherit;
        }
        @media (max-width: 576px) {
            display: none;
            top: initial;
            bottom: 0;
            height: auto;
        }
    }
    .newlooksm {
        display: none;
        @media (max-width: 576px) {
            display: block;
            position: absolute;
            top: 18px;
            z-index: -1;
            width: 100%;
            height: 90%;
        }
        @media (max-width: 425px) {
            height: 80%;
            top: 60px;
        }
    }
    .newlookmain {
        margin-right: 150px;
        padding: 115px 0px;
        margin-left: auto;
        @media (max-width: 1440px) {
            padding: 78px 0;
        }
        @media (max-width: 1200px) {
            padding: 78px 0;
            margin-right: 40px;
        }
        @media (max-width: 1024px) {
            padding: 74px 0;
        }
        @media (max-width: 992px) {
            margin-right: 30px;
            padding: 39px 0;
        }
        @media (max-width: 768px) {
            padding: 39px 36px;
            margin-right: 0;
            padding-bottom: 2px;
        }
        @media (max-width: 576px) {
            padding: 18px;
            padding-bottom: 150px;
        }
        @media (max-width: 425px) {
            padding-bottom: 40px;
        }
        .newlookheading {
            margin-left: auto;
            max-width: 950px;
            @media (max-width: 1440px) {
                max-width: 790px;
            }
            @media (max-width: 1024px) {
                max-width: 680px;
            }
            @media (max-width: 768px) {
                max-width: 100%;
            }

            h1 {
                color: #162d65;
                font-family: "Lato";
                font-size: 56px;
                font-weight: bold;
                margin-bottom: 40px;
                @media (max-width: 1440px) {
                    font-size: 46px;
                }
                @media (max-width: 1024px) {
                    font-size: 40px;
                }
                @media (max-width: 992px) {
                    font-size: 40px;
                }
                @media (max-width: 768px) {
                    font-size: 34px;
                    margin-bottom: 20px;
                    margin-top: 40px;
                }
                @media (max-width: 576px) {
                    font-size: 28px;
                    margin-top: 100px;
                }
                @media (max-width: 425px) {
                    font-size: 24px;
                }
                span {
                    color: #d40010;
                }
            }
        }
        .newlookpara {
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 950px;
            margin-left: auto;
            @media (max-width: 1440px) {
                max-width: 790px;
            }
            @media (max-width: 1024px) {
                max-width: 680px;
            }
            @media (max-width: 768px) {
                max-width: 100%;
                display: block;
            }
            p {
                font-family: "Lato";
                color: #162d65;
                font-size: 16px;
                line-height: 29px;
                width: 40%;
                max-width: 960px;
                span {
                    font-weight: bold;
                }
                @media (max-width: 576px) {
                    &:nth-child(2) {
                        margin: 0;
                    }
                }
                @media (max-width: 1440px) {
                    width: 46%;
                }
                @media (max-width: 1024px) {
                    font-size: 14px;
                    max-width: 690px;
                }
                @media (max-width: 768px) {
                    width: 100%;
                    font-size: 16px;
                }
                @media (max-width: 576px) {
                    &:nth-child(2) {
                        margin-top: 30px;
                    }
                }
                @media (max-width: 375px) {
                    line-height: 23px;
                    font-size: 13px;
                    &:nth-child(2) {
                        margin-top: 30px;
                    }
                }
            }
        }
    }
}
//---------- newlook scss end ----------//
//---------- work scss start ----------//
.HowitworkMain {
    background-color: #d9e6f0;
    padding-bottom: 70px;
    @media (max-width: 1440px) {
        padding-bottom: 50px;
    }
    @media (max-width: 1200px) {
        padding-bottom: 80px;
    }
    @media (max-width: 1024px) {
        padding-bottom: 60px;
    }
    @media (max-width: 576px) {
        padding-bottom: 46px;
    }

    .HowitworkText {
        h1 {
            color: #142b67;
            font-size: 56px;
            font-family: "Lato";
            font-weight: bold;
            text-align: center;
            padding: 55px 0px;
            @media (max-width: 1440px) {
                padding: 60px 0px;
                font-size: 48px;
            }
            @media (max-width: 1200px) {
                padding: 60px 0px;
                font-size: 46px;
            }
            @media (max-width: 1024px) {
                padding: 46px 0px;
                font-size: 40px;
            }
            @media (max-width: 768px) {
                padding: 46px 0px;
                font-size: 36px;
            }
            @media (max-width: 576px) {
                padding: 38px 0px;
                font-size: 32px;
            }
            @media (max-width: 425px) {
                padding: 38px 0px;
                font-size: 28px;
                margin-bottom: 0;
            }
        }
    }
    .workBox {
        padding: 0px 72px;
        @media (max-width: 992px) {
            padding: 0px 32px;
        }
        @media (max-width: 576px) {
            padding: 0px 10px;
        }
        .row {
            margin: 0;
            .col-md-4 {
                width: 24%;
                @media (max-width: 1267px) {
                    width: 23%;
                }
                @media (max-width: 1200px) {
                    width: 48%;
                }
                @media (max-width: 992px) {
                    width: 47%;
                }
                @media (max-width: 576px) {
                    width: 90%;
                }
            }
            .workIdentify {
                background-color: #ffffff;
                border-radius: 10px;
                box-shadow: -2.86966px 2.86966px 0.956552px rgba(161, 181, 197, 0.5);
                margin-right: 15px;
                &:nth-child(2) {
                    @media (max-width: 1200px) {
                        margin-right: 0;
                    }
                }
                @media (max-width: 1200px) {
                    margin-top: 15px;
                }
                @media (max-width: 576px) {
                    margin-right: 0;
                }
                img {
                    width: 100%;
                }
                .workBook {
                    padding: 24px 0px;
                    margin-bottom: 10px;
                    color: #142b67;
                    font-size: 15px;
                    line-height: 18px;
                    font-family: "Lato";
                    margin: auto;
                    text-align: center;
                    font-weight: 700;

                    h6 {
                        font-size: 15px;
                        font-weight: 700;
                    }
                    .estimate {
                        max-width: 180px;
                    }
                    p {
                        max-width: 280px;
                        margin: auto;
                        margin-bottom: 0;
                        @media (max-width: 1440px) {
                            font-size: 14px;
                        }
                        @media (max-width: 1299px) {
                            font-size: 12px;
                        }
                        @media (max-width: 1200px) {
                            font-size: 16px;
                        }
                        @media (max-width: 768px) {
                            font-size: 13px;
                        }
                        @media (max-width: 600px) {
                            font-size: 12px;
                        }
                        @media (max-width: 576px) {
                            font-size: 14px;
                        }
                    }
                }
            }
            .workcontruction {
                margin-right: 0;
            }
        }
    }
}
//---------- work scss end ----------//
//---------- video scss start ----------//
.videoWrapper {
    background-color: #f8eee4;
    padding: 100px;
    @media (max-width: 1200px) {
        padding: 60px 50px;
    }
    @media (max-width: 992px) {
        padding: 200px 50px 60px 50px;
    }
    @media (max-width: 768px) {
        padding: 160px 30px 20px 30px;
    }
    @media (max-width: 576px) {
        padding: 180px 30px 20px 30px;
    }
    @media (max-width: 576px) {
        padding: 180px 20px 20px 20px;
    }
    .row {
        align-items: center;
        .videoImage {
            position: relative;
            cursor: pointer;
            @media (max-width: 992px) {
                text-align: center;
            }
            .Imagevd {
                width: 100%;
                @media (max-width: 992px) {
                    width: 630px;
                }
                @media (max-width: 768px) {
                    width: 510px;
                }
                @media (max-width: 576px) {
                    width: 370px;
                }
                @media (max-width: 425px) {
                    width: 334px;
                }
                @media (max-width: 375px) {
                    width: 280px;
                }
            }
            .Imgplay {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .videoData {
            margin-left: 20px;
            @media (max-width: 1650px) {
                margin-left: 30px;
            }
            @media (max-width: 1299px) {
                margin-left: 20px;
            }
            @media (max-width: 992px) {
                margin-left: 0;
            }
            h1 {
                color: #162d65;
                font-size: 57px;
                @media (max-width: 1650px) {
                    font-size: 50px;
                }
                @media (max-width: 1440px) {
                    font-size: 44px;
                }
                @media (max-width: 1299px) {
                    font-size: 40px;
                }
                @media (max-width: 1100px) {
                    font-size: 35px;
                }
                @media (max-width: 992px) {
                    transform: translateY(-525px);
                    text-align: center;
                }
                @media (max-width: 768px) {
                    transform: translateY(-435px);
                    font-size: 32px;
                }
                @media (max-width: 576px) {
                    transform: translateY(-360px);
                }
                @media (max-width: 425px) {
                    font-size: 28px;
                    transform: translateY(-360px);
                    line-height: 40px;
                    max-width: 240px;
                    margin: auto;
                }
                @media (max-width: 375px) {
                    transform: translateY(-330px);
                }
                span {
                    font-weight: 900;
                }
            }
            p {
                color: #252525;
                font-size: 16px;
                max-width: 480px;
                margin-top: 40px;
                line-height: 28px;
                span {
                    font-weight: bold;
                    color: #142b65;
                }
                @media (max-width: 1100px) {
                    margin-top: 20px;
                }
                @media (max-width: 992px) {
                    margin-top: -60px;
                    max-width: 100%;
                    line-height: 32px;
                }
                @media (max-width: 430px) {
                    margin-top: -80px;
                    max-width: 100%;
                }
                @media (max-width: 425px) {
                    margin-top: -100px;
                }
                // @media (max-width: 363px) {
                //     margin-top: -90px;
                // }
            }
        }
    }
}
//---------- video scss end ----------//
//---------- wraps scss start ----------//
.MainWrap {
    background: url("../../images/gradianfBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding-top: 60px;
    background-position: top;

    .Slidedata {
        width: 50%;
        @media (max-width: 992px) {
            width: 100%;
        }
        h2 {
            width: 81%;
            margin-left: auto;
            color: #162d65;
            font-family: "Lato";
            font-size: 56px;
            font-weight: 700;
            margin-bottom: 30px;
            @media (max-width: 1440px) {
                font-size: 50px;
            }
            @media (max-width: 1200px) {
                font-size: 46px;
            }
            @media (max-width: 1024px) {
                font-size: 42px;
            }
            @media (max-width: 992px) {
                width: 100%;
                text-align: center;
            }
            @media (max-width: 576px) {
                font-size: 38px;
            }
        }
    }
    .slick-slider {
        display: flex;
        @media (max-width: 992px) {
            display: none;
        }
        .slick-list {
            width: 50%;
            order: 2;
            height: 610px !important;
            .slick-track {
                padding: 0 0 100px 0;
            }
            .slick-slide {
                img {
                    display: block;
                    width: 90%;
                    height: 609px;
                    object-fit: cover;
                }
            }
        }
        .slick-dots {
            width: 50%;
            left: 0;
            top: 0;
            bottom: initial !important;
            position: initial;
            order: 1;
            ul {
                width: 85%;
                margin-left: auto;
                padding-right: 50px;
                li {
                    display: block;
                    width: 100% !important;
                    height: 100% !important;
                    padding: 26px 0px;
                    border-bottom: 1px solid #ababab;
                    &:last-child {
                        border: 0;
                    }
                }
                .slick-active {
                    font-weight: bold;
                }
                .pageWriter {
                    color: #162c64;
                    font-size: 24px;
                    display: flex;
                    @media (max-width: 1200px) {
                        font-size: 20px;
                    }
                    p {
                        margin: -15px 20px 0 0;
                        font-size: 20px;
                        @media (max-width: 1200px) {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
    .slick-arrow {
        display: none !important;
    }
}
//---------- wraps scss start ----------//
.accordianMain {
    display: none;
    @media (max-width: 992px) {
        display: block;
    }
    .accordion-item {
        background-color: transparent;
        &:first-child {
            border-top: 0 !important;
        }
        &:last-child {
            border-bottom: 0 !important;
        }
        .accordion-body {
            padding: 2rem 2rem;
            padding-top: 0 !important;
            text-align: center;
            @media (max-width: 425px) {
                padding: 2rem 1rem;
            }
            img {
                border-radius: 14px;
                @media (max-width: 768px) {
                    width: 100%;
                }
            }
        }
        .accordion-button {
            color: #162c64;
            font-size: 24px;
            background-color: transparent;
            box-shadow: none;
            border-bottom: 0;
            padding: 35px 20px;
            padding-bottom: 24px;
            &:focus {
                box-shadow: none;
                background-color: transparent;
            }
            p {
                margin: -30px 10px 0 0;
                font-size: 12px;
            }
        }
    }
}
//---------- Features scss start ----------//
.featureswrap {
    background: url("../../images/featureBG.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 230px;
    margin-bottom: 80px;
    margin-top: -2px;
    @media (max-width: 1200px) {
        padding-bottom: 210px;
    }
    @media (max-width: 1024px) {
        padding-bottom: 150px;
    }
    @media (max-width: 768px) {
        background: url("../../images/featuretab.png");
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        padding-bottom: 220px;
    }

    @media (max-width: 576px) {
        background: url("../../images/featurebgsm.png");
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        padding-bottom: 130px;
    }

    h1 {
        color: #fff;
        font-size: 62px;
        font-family: "Lato";
        font-weight: bold;
        text-align: center;
        padding-top: 90px;
        @media (max-width: 1440px) {
            font-size: 56px;
        }
        @media (max-width: 1200px) {
            font-size: 40px;
            padding-top: 70px;
            padding-bottom: 30px;
        }
        @media (max-width: 1024px) {
            font-size: 38px;
            padding-top: 50px;
        }
        @media (max-width: 992px) {
            font-size: 32px;
        }
        @media (max-width: 576px) {
            font-size: 36px;
        }
        @media (max-width: 425px) {
            font-size: 32px;
        }
    }
    .featuresData {
        .featuresLook {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 50px;
            @media (max-width: 1200px) {
                margin-top: 30px;
            }
            @media (max-width: 1024px) {
                margin-top: 10px;
            }
            @media (max-width: 768px) {
                margin-top: 30px;
            }
            img {
                margin-bottom: 20px;
                @media (max-width: 1200px) {
                    width: 60px;
                }
                @media (max-width: 1024px) {
                    width: 50px;
                }
            }
            p {
                font-size: 24px;
                font-family: "Lato";
                color: #fff;
                max-width: 200px;
                text-align: center;
                @media (max-width: 1200px) {
                    font-size: 18px;
                    max-width: 180px;
                }
                @media (max-width: 1024px) {
                    font-size: 16px;
                    max-width: 160px;
                }
            }
        }
        .featuresBg {
            @media (max-width: 768px) {
                display: none;
            }
        }
    }
}
//---------- Features scss end ----------//
//---------- Look scss start ----------//
.main-look {
    overflow-x: hidden;
    padding-bottom: 80px;
    margin-top: -200px;
    @media (max-width: 1600px) {
        padding-bottom: 0;
    }
    @media (max-width: 1200px) {
        padding-bottom: 50px;
    }
    @media (max-width: 992px) {
        margin-top: 0;
    }
    .add-accordion {
        padding: 36px 48px;

        @media (max-width: 1200px) {
            padding: 0 20px;
        }

        .title {
            color: #d61e30;
            text-align: center;
            font-weight: 700;
            font-size: 24px;

            @media (max-width: 767px) {
                display: none;
            }
        }

        .accordion-item {
            border: none !important;

            ::-webkit-scrollbar {
                width: 5px;
            }

            ::-webkit-scrollbar-thumb {
                border-radius: 50px;
                background: #abbed1;
            }
        }

        .border1 {
            border-bottom: 1px solid #d9e6f0 !important;
        }

        .border {
            border: none !important;
        }

        .accordion-button {
            width: 80%;
            margin: auto;

            @media (max-width: 1200px) {
                width: 100%;
            }
        }

        .accordion-button:not(.collapsed) {
            background-color: unset !important;
            color: unset !important;
            box-shadow: none !important;
        }

        .accordion-button:focus {
            z-index: 0 !important;
            border-color: none !important;
            outline: 0;
            box-shadow: none;
            background-color: white !important;
            color: #162d65 !important;
            font-weight: 700;
        }

        .accordion-button::after {
            margin-top: 26px;
            @media (max-width: 768px) {
                display: none;
            }
        }

        .accordion-header {
            border-bottom: 1px solid #dbe7f0;
            .accordion-button {
                h5 {
                    color: #888888;
                    font-weight: 400;
                    font-size: 16px;
                }

                h4 {
                    font-weight: 700;
                    font-size: 18px;
                }
            }
        }

        .accordionPalette {
            display: none;
        }
        .accordion-body {
            font-family: "Inter", sans-serif;
            height: 309px;
            overflow-y: scroll;
            width: 80%;
            margin: auto;
            box-shadow: 0px 6px 12px rgba(171, 190, 209, 0.3);
            padding-top: 0;
            @media (max-width: 1024px) {
                width: 100%;
            }
            @media (max-width: 768px) {
                position: fixed;
                bottom: 0;
                background-color: hsl(0deg 0% 100%);
                box-shadow: rgb(100 100 111 / 20%) -8px 19px 35px 20px;
                left: 0;
                z-index: 9;
                overflow: visible;
                height: auto;
                overflow: auto;
                padding: 0;
                border-radius: 25px 25px 0px 0px;
            }
            p {
                display: none;
                @media (max-width: 768px) {
                    display: block;
                    font-family: "Lato";
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    color: #888888;
                    padding-top: 34px;
                    padding-bottom: 22px;
                    margin: 0;
                    border-bottom: 1px solid #d9e6f0;
                }
            }
            .label1 {
                border-bottom: 1px solid #d9e6f0;
                padding: 16px 0;
                transition: 0.3s;
                @media (max-width: 768px) {
                    padding: 12px 20px;
                }
                span {
                    color: #888;
                    margin-left: 10px;
                }
                &:last-child {
                    border-bottom: 0 !important;
                }
            }
            .accordianButton {
                display: none;
                @media (max-width: 768px) {
                    display: block;
                    width: 100%;
                    background-color: #fff;
                    color: #979797;
                    padding: 16px;
                    font-family: "Lato";
                    font-weight: 500;
                    font-size: 14px;
                    border: 0;
                }
            }

            .label1:hover {
                cursor: pointer;
                color: #142b67;
                font-weight: 700;
                background-color: #edf2f5;
            }

            .label1:hover span {
                color: #142b67;
                font-weight: 700;
            }
        }

        .translate-item {
            .accordion-body {
                transform: translateY(-2px);
                background-color: white;
            }
        }
    }
    .lookImg img {
        width: 100%;
        @media (max-width: 1528px) {
            width: 1020px;
        }
        @media (max-width: 767px) {
            height: 420px;
            object-fit: cover;
        }
    }
    .title1 {
        color: #d61e30;
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        display: none;

        @media (max-width: 767px) {
            display: block;
            margin-bottom: 30px;
        }
    }
}
.Conditions {
    p {
        text-align: center;
        margin-bottom: 60px;
        font-size: 14px;
        @media (max-width: 10224px) {
            margin-bottom: 30px;
        }
    }
}
.accordion-button:not(.collapsed)::after {
    background-image: none;
    border: solid #696969;
    border-width: 0 2px 2px 0;
    display: inline-block;
    transform: rotate(-135deg);
    width: 12px;
    height: 12px;
}
//---------- Look scss end ----------//
//---------- Collection scss start ----------//

.main-collection {
    margin: 64px 0;
    padding: 0 100px;
    margin-bottom: 0;
    overflow: hidden;
    margin-right: 20px;

    @media (max-width: 1440px) {
        padding: 0 20px;
    }
    @media (max-width: 1200px) {
        padding: 0 40px;
    }
    @media (max-width: 576px) {
        padding: 0 20px;
    }
    @media (max-width: 425px) {
        margin: 44px 0;
    }
    @media (max-width: 375px) {
        padding: 0 10px;
    }

    .title {
        h3 {
            color: #162d65;
            font-weight: 400;
            font-size: 56px;
            text-align: center;
            @media (max-width: 767px) {
                font-size: 40px;
                font-weight: 600;
                margin-bottom: -30px;
            }
            @media (max-width: 425px) {
                font-size: 36px;
            }
            span {
                font-weight: 700;
            }
        }
    }
    .slick-track {
        margin-bottom: -60px;
    }
    .collection1 {
        margin-top: 100px;

        .text-position {
            transform: translateY(-256px);
            @media (max-width: 1200px) {
                transform: translateY(-206px);
            }
            @media (max-width: 767px) {
                transform: translateY(-169px);
            }
            @media (max-width: 576px) {
                transform: translateY(-132px);
            }
            @media (max-width: 425px) {
                transform: translateY(-118px);
            }
            h2 {
                font-family: "Poppins", sans-serif;
                font-weight: 900;
                font-size: 120px;
                color: #ffffff;
                text-shadow: 0px 7.53982px 30.1593px #bfc9d2;
                @media (max-width: 1200px) {
                    font-weight: 800;
                    font-size: 80px;
                }
                @media (max-width: 767px) {
                    font-weight: 700;
                    font-size: 60px;
                }
                @media (max-width: 576px) {
                    font-weight: 900;
                    font-size: 40px;
                }
                @media (max-width: 425px) {
                    font-size: 30px;
                }
            }
        }

        img {
            @media (max-width: 1200px) {
                width: 250px;
            }
            @media (max-width: 767px) {
                width: 200px;
            }
            @media (max-width: 576px) {
                width: 150px;
            }
            @media (max-width: 425px) {
                width: 84px;
                height: 45px;
            }
        }
    }
    .image-shadow {
        box-shadow: 4px 85px 32px -40px rgba(227, 234, 240, 1);
        @media (max-width: 767px) {
            box-shadow: 4px 65px 32px -17px rgba(227, 234, 240, 1);
        }
    }
    .slick-slider {
        .slick-list {
            @media (max-width: 767px) {
                margin-bottom: 50px;
            }
            .slick-track {
                padding: 0;
            }
        }
        .slick-arrow {
            display: none !important;
        }
    }
    @media (max-width: 768px) {
        .cnt {
            overflow: auto;
        }
        .content {
            height: auto;
        }

        .scrollmagic-pin-spacer {
            padding-bottom: 0 !important;
            min-height: auto !important;
        }
    }
    .trails-text {
        position: relative;
        width: 100%;
        font-weight: 800;
        text-transform: uppercase;
        will-change: transform, opacity;
        overflow: hidden;
        display: block;
    }

    .trails-text > span {
        overflow: hidden;
        display: block;
    }

    .content > div {
        background-size: cover;
        background-position: center;
        flex-shrink: 0;
        @media (max-width: 1600px) {
            width: 4000px !important;
        }
    }

    .content-block {
        position: relative;
    }

    .intro-image {
        position: relative;
        z-index: 1;
        left: -100px;
        top: 100%;
        margin-top: 50px;
    }

    .intro-image figure {
        margin: 0;
        padding: 0;
    }

    .intro-image img {
        max-width: 100%;
    }

    .content-block .intro-text {
        position: relative;
        z-index: 2;
        line-height: 1.5;
    }
    .scrollmagic-pin-spacer {
        @media (max-width: 992px) {
            display: none !important;
        }
    }
    .slick-slider {
        display: none;
        @media (max-width: 992px) {
            display: block;
        }
    }
}
//---------- Collection scss end ----------//
.MainWrap .slick-slider .slick-list.mystyle {
    margin-top: 80px;
    @media (max-width: 1200px) {
        margin-top: 40px;
    }
}

//---------- faq css start ----------//
.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 960px;
}
.mobileOuter {
    width: 100%;
}

.faq-div {
    width: 100%;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 15px;
}

.faq-div .Updown {
    padding-top: 8px;
    padding-left: 20px;
}

.faq-head {
    margin-top: 48px;
    margin-bottom: 48px;
    color: #224680;
}

.head2 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: black;
    padding-bottom: 10px;
    @media screen and (max-width: 1200px) {
        font-size: 20px;
    }
    @media screen and (max-width: 576px) {
        font-size: 16px !important;
        padding-bottom: 0;
    }
    @media screen and (max-width: 425px) {
        font-size: 14px !important;
    }
}

.description {
    font-size: 22px;
    width: 100%;
    @media screen and (max-width: 1200px) {
        font-size: 18px;
    }
    @media screen and (max-width: 576px) {
        font-size: 14px !important;
    }
    @media screen and (max-width: 425px) {
        font-size: 12px !important;
    }
}

.dropdown,
.UpDown {
    width: 12px;
    height: 8px;
    margin-left: 30px;
}

.line {
    opacity: 0.4;
    height: 1px;
    background-color: gray;
    margin-top: 10px;
    margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
    .faq-div {
        width: calc(100%);
        margin-left: auto;
        margin-right: auto;
    }
    .faq-head {
        margin-top: 48px;
        margin-bottom: 32px;
    }
    .line {
        width: calc(100%);
        margin-left: auto;
        margin-right: auto;
    }
    .head2 {
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        margin-right: 0px;
        color: #58595b;
    }
    .para {
        font-size: 12px;
    }

    .para {
        padding: 0 20px;
    }
    .description {
        font-size: 16px;
        width: 85%;
        margin-left: 0px;
    }

    .outer-desc {
        font-size: 12px;
        width: 100%;
        margin-left: 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container2 {
        max-width: 100%;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 480px) {
    .container2 {
        padding-left: 25px;
        padding-right: 25px;
    }
}
//---------- faq css end ----------//

.content {
    display: flex;
    height: 100vh;
}
.downloadImgBox img {
    width: 100%;
    max-height: 100%;
    display: block;
}
